In [ ]:
# Load in excel file with multiple sheets
    # and map each excel sheet to an ordered dict (a dict of dataframes)
# Convert date column in each dataframe in dict of dataframes 
    # to datetime object for matplotlib, and set date column as index

In [40]:
# Imports (External)
import numpy as np
import pandas as pd
import datetime as dt
import xlrd
import xlsxwriter
from collections import OrderedDict

import sys
sys.path.append('../')  

# # Visualization/plotting imports
# import matplotlib as mpl
# import matplotlib.pyplot as plt

# # Machine learning imports
# import sklearn
# import tensorflow as tf
# import keras

# import pywt
# from scipy import signal

In [41]:
def dictmap_load(path):
    # Load in excel file with multiple sheets
    # and map each excel sheet to an ordered dict (a dict of dataframes)
    raw_xlsx_file = pd.ExcelFile(path)
    dict_dataframes = pd.read_excel(raw_xlsx_file,sheet_name = None)
    return dict_dataframes

In [42]:
def dictmap_datetime(dict_dataframes):
    # Convert date column in each dataframe in dict of dataframes 
    # to datetime object for matplotlib, and set date column as index
    for dataframe in dict_dataframes:
        dict_dataframes[dataframe]['date'] = pd.to_datetime(dict_dataframes[dataframe]['date'].astype(str), format='%Y%m%d')
        dict_dataframes[dataframe] = dict_dataframes[dataframe].set_index('date')
    return dict_dataframes

In [43]:
dict_dataframes_index = dictmap_load(path = "../data/interim/clean_data_index.xlsx")   
dict_dataframes_future = dictmap_load(path = "../data/interim/clean_data_future.xlsx")   
dict_dataframes_index = dictmap_datetime(dict_dataframes_index)
dict_dataframes_future = dictmap_datetime(dict_dataframes_future)

In [44]:
print("\n".join(list(dict_dataframes_index.keys())))
print("\n".join(list(dict_dataframes_future.keys())))

csi300 index data
nifty 50 index data
hangseng index data
nikkei 225 index data
s&p500 index data
djia index data
csi300 index future data
nifty 50 index future data
hangseng index future data
nikkei 225 index future data
s&p500 index future data
djia index future data

In [45]:
dict_dataframes_index['csi300 index data'].head(2)

,open,high,low,close,volume,us dollar index,shibor,macd,cci,atr,boll,ema20,ma10,mtm6,ma5,mtm12,roc,smi,wvad
date,,,,,,,,,,,,,,,,,,,
2008-07-01,2799.20,2809.38,2690.18,2698.35,288515.85,72.34,2.5006,-213.078565,-128.949052,119.200,3173.475692,3033.748201,2851.2504,-91.594,2851.3262,-280.770,-9.424605,-0.097927,-8.726278e+07
2008-07-02,2702.63,2745.94,2670.06,2699.60,279163.65,71.99,2.7238,-213.732249,-139.719688,75.875,3140.413385,3001.924277,2822.0828,-152.318,2797.3382,-252.645,-8.557733,-0.026497,-1.095493e+08

In [46]:
dict_dataframes_future['csi300 index future data'].head(2)

             close
date
2010-09-30  2953.4
2010-10-08  3054.2

In [47]:
dict_dataframes_index['csi300 index data'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2010 entries, 2008-07-01 to 2016-09-30
Data columns (total 19 columns):
open               2010 non-null float64
high               2010 non-null float64
low                2010 non-null float64
close              2010 non-null float64
volume             2010 non-null float64
us dollar index    2010 non-null float64
shibor             2010 non-null float64
macd               2010 non-null float64
cci                2010 non-null float64
atr                2010 non-null float64
boll               2010 non-null float64
ema20              2010 non-null float64
ma10               2010 non-null float64
mtm6               2010 non-null float64
ma5                2010 non-null float64
mtm12              2010 non-null float64
roc                2010 non-null float64
smi                2010 non-null float64
wvad               2010 non-null float64
dtypes: float64(19)
memory usage: 314.1 KB

In [48]:
dict_dataframes_future['csi300 index future data'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1460 entries, 2010-09-30 to 2016-09-30
Data columns (total 1 columns):
close    1460 non-null float64
dtypes: float64(1)
memory usage: 22.8 KB